[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
librosa = "*"
requests = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
pathlib = "*"
sklearn = "*"
keras = "*"
ipykernel = "*"
image = "*"
musicrec = {path = "."}
imutils = "*"
seaborn = "*"
tensorflow = "*"
pydot = "*"

[requires]
python_version = "3.7"
