[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
librosa = "*"
requests = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
pathlib = "*"
sklearn = "*"
keras = "*"
ipykernel = "*"
image = "*"
tensorflow = "*"

[requires]
python_version = "3.7"
